    {
      "plugins": ["prettier-plugin-go-template"],
      "overrides": [
        {
          "files": ["*.html", "*.gohtml", "*.gotmpl", "*.tmpl", "*.tpl"],
          "options": {
            "parser": "go-template"
          }
        }
      ]
    }