<div class="social-share">
  <p>Share this post:</p>
  <a
    href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}"
    target="_blank"
    >Twitter</a
  >
  |
  <a
    href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
    target="_blank"
    >Facebook</a
  >
  |
  <a
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}"
    target="_blank"
    >LinkedIn</a
  >
  |
  <a href="https://wa.me/?text={{ .Permalink }}" target="_blank">WhatsApp</a>
</div>
